@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@model LoLTournament.Models.Match

<h1>Update match participants</h1>

<p>
    Are you sure you want to update the tournament code to the current summoners?
</p>

<a href="@Url.Action("NewCode", "Admin", new RouteValueDictionary {{"matchId", @Model.Id.ToString()}, {"confirmation", true}})"><button class="btn btn-primary btn-lg" type="button">Update tournament code</button></a>

