<div class="contact-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message-small">
                    <br />
                    <h1>Contact</h1>
                    <hr class="intro-divider">
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Contact details</h2>
                <address>
                    <h4>Mail address</h4>
                    Studievereniging CognAC<br/>
                    T.a.v. LoL-commissie<br/>
                    Postbus 9104<br/>
                    6500 HE Nijmegen<br/>
                </address>

                <address>
                    <h4>Physical address</h4>
                    Studievereniging CognAC<br/>
                    Montessorilaan 3<br/>
                    6525 HR Nijmegen<br/>
                    Spinozagebouw room A.00.05b<br/>
                </address>

                <address>
                    <h4>E-mail</h4>
                    <a href="mailto:lolco@svcognac.nl">lolco@svcognac.nl</a>
                </address>

                <h4>Telephone</h4>
                (+31) 024 36 17925<br/><br/>

                We speak both English and Dutch.
            </div>

            <div class="col-lg-6 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">The team</h2>
                <ul>
                    <li>Tanja Crijns (chair)</li>
                    <li>Inez Wijnands (secretary)</li>
                    <li>Steven Reitsma (treasurer)</li>
                    <li>Bas Vogelzang</li>
                    <li>Joris van Vugt</li>
                    <li>Daan Roos</li>
                    <li>Job van Drunen</li>
                    <li>Luc Nies</li>
                    <li>Maarten Vos</li>
                    <li>Jake van Overbeek</li>
                </ul>
                <div class="clearfix"></div>
                <h2 class="section-heading">Legal details</h2>
                <p>
                    The CognAC League of Legends Tournament is organized and endorsed by <i>Nijmeegse Studievereniging CognAC</i>, an officially registered association at the KvK.<br/><br/>
                    KvK number: 40146461<br/>
                    Official Riot Tournament ID: 167648<br/><br/>
                </p>
                <p style="font-size:8pt">
                    The CognAC League of Legends Tournament doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Source code</h2>
                <ul>
                    <li><a href="https://github.com/StevenReitsma/lolcognac-website">Website repository</a></li>
                    <li><a href="https://github.com/Joris1225/LoLBadge">Badge creator repository</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

