<h2>Contact</h2>

<address>
    Studievereniging CognAC<br />
    Attn. LoL-commissie<br />
    Postbus 9104<br />
    6500 HE Nijmegen<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lolco@svcognac.nl">lolco@svcognac.nl</a>
</address>

<h3>The team</h3>
<ul>
    <li>Tanja Crijns (chair)</li>
    <li>Bas Vogelzang (secretary)</li>
    <li>Steven Reitsma (treasurer)</li>
    <li>Daan Roos</li>
    <li>Job van Drunen</li>
    <li>Joris van Vugt</li>
    <li>Loth Janssen</li>
</ul>

<p style="font-size:8pt">Official Riot Tournament ID: 45452</p>