@using System.Globalization
@using System.Web.Configuration
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>LCN 2017</h1>
                    <h4 style="text-transform: uppercase">League of Legends Championship Nijmegen</h4>

                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <h3>9 February<br/>Heyendaalseweg 135, Nijmegen
                            </h3>
                        </li>
                    </ul>

                    <div style="position: absolute; bottom: 0; width: 100%; margin: 0 auto;">
                        <h4 style="text-transform: uppercase">
                            @{
                                var timeSetting = WebConfigurationManager.AppSettings["RegistrationStart"];
                                var registrationStart = DateTime.ParseExact(timeSetting, "yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture);
                            }
                            @if (DateTime.Now < registrationStart)
                            {
                                <span>Registration opening tonight at 20:00!</span>
                            }
                            else
                            {
                                <!--<a href="@Url.Action("Index", "Register")" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-fw"></i> <span class="network-name">Register now</span></a>-->
                                <span>The tournament is full, but supporters (RU and non-RU) are welcome free of charge!</span>
                            }
                        </h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="clearfix"></div>
                <h2 class="section-heading">What?</h2>
                <p class="lead">The <b>LCN</b> &mdash; formerly the CognAC League of Legends Tournament &mdash; is an annual tournament in which teams of five players play a series of matches. The event is open to all students of the Radboud University Nijmegen.</p>
                <ul class="list-inline intro-social-buttons">
                    <li>
                        <a href="@Url.Action("Information", "Home")" class="btn btn-default btn-lg"><i class="fa fa-info fa-fw"></i> <span class="network-name">More information</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                <div style="position: relative; padding-bottom: 56.25%; height: 0;">
                    <!--<img class="img-responsive" src="~/Content/Images/index3.jpg" alt="">-->
                    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; "width="560" height="315" src="https://www.youtube-nocookie.com/embed/xaxU0VY6CmY?rel=0&amp;showinfo=0&rel=0&modestbranding=1&loop=1&controls=1&cc_load_policy=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Where and when?</h2>
                <p class="lead">The tournament takes place in the URD (restaurant) of the Huygens building. The address is Heyendaalseweg 135. It will take place on the 9th of February 2017 and we will start at 18:00h. Make sure you don't let your team mates and opponents down, be on time! You can arrive anywhere between 17:30h and 18:00h. </p>
                <ul class="list-inline intro-social-buttons">
                    <li>
                        <a href="@Url.Action("Information", "Home")" class="btn btn-default btn-lg"><i class="fa fa-info fa-fw"></i> <span class="network-name">More information</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Content/Images/index1.jpg" alt="">
            </div>
        </div>

    </div>
</div>

<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Sponsored by</h2>
                <div>
                    <a href="http://www.masc.nl" target="_blank"><img src="~/Content/Images/masc_logo.png" height="100" /></a><br/>
                    <a href="http://www.audius.nl" target="_blank"><img src="~/Content/Images/audius.png" height="100" /></a>
                    <br/><br/>
                    Interested in a sponsor agreement? <a href="@Url.Action("Contact", "Home")">Contact us!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
