<div class="jumbotron">
    <div style="float:right"><img src="~/Content/Images/CognAC_logo.png" width="175" /></div>
    <h2>CognAC League of Legends Tournament 2015</h2>
    <p class="lead">26 February 2015 18:00h - 04:00h @@ Huygensgebouw</p>
    Winners:
    <ol>
        <li>The Scientific Approach</li>
        <li>Gewoon Boyteam</li>
        <li>Duurt Lan</li>
        <li>Kappachinos</li>
    </ol>
    Check out the photos <a href="@Url.Action("Photos")">here</a>!
</div>

<div align="center">
    <img src="~/Content/Images/splash.jpg" style="width:48%" /> <img src="~/Content/Images/splash2.jpg" style="width:48%" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What?</h2>
        <p>
            The CognAC League of Legends Tournament is an annual tournament in which teams of five players play a series of matches.
            The event is open to all students of the Radboud University Nijmegen.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Where?</h2>
        <p>The tournament takes place in the URD (restaurant) of the Huygens building. The address is Heyendaalseweg 135.</p>
    </div>
    <div class="col-md-4">
        <h2>When?</h2>
        <p>26 February 2015 from 18:00h until 04:00h. Make sure you don't let your team mates and opponents down, be on time!</p>
    </div>
</div>

<div>
    <h2>Sponsored by</h2>
    <img src="http://www.ru.nl/publish/pages/526690/logosnufkleur.jpg" height="100"/>
    <br />
    <br />
    <img src="~/Content/Images/laserquest.png" />
    <br />
    <br />
    <img src="~/Content/Images/gm.png" height="120" />
    <br />
    <br />
    <img src="~/Content/Images/azerty.png" height="120" />
</div>
