<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>CognAC League of Legends Tournament 2016</h1>
                    <h3>Registration opens January 25th*!</h3>
                    <!--
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="/Register" class="btn btn-default btn-lg"><i class="fa fa-pencil-square-o fa-fw"></i> <span class="network-name">Register</span></a>
                        </li>
                    </ul>
                    -->
                </div>

                <div class="bottom">
                    *January 18th for CognAC and Dorans members
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">What?</h2>
                <p class="lead">The CognAC League of Legends Tournament is an annual tournament in which teams of five players play a series of matches. The event is open to all students of the Radboud University Nijmegen.</p>
                <ul class="list-inline intro-social-buttons">
                    <li>
                        <a href="@Url.Action("Information", "Home")" class="btn btn-default btn-lg"><i class="fa fa-info fa-fw"></i> <span class="network-name">More information</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <video id="my-video" class="video-js" controls preload="auto" width="480" height="270"
                        poster="~/Content/Images/logo.png" data-setup="{}">
                    <source src="~/Content/Videos/hype.mp4" type="video/mp4">
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
                <!--<img class="img-responsive" src="~/Content/Images/logo.png" alt="" style="height:280px">-->
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Where and when?</h2>
                <p class="lead">The tournament takes place in the URD (restaurant) of the Huygens building. The address is Heyendaalseweg 135. It will take place on the 25th of February 2016 from 18:00h until 04:00h. Make sure you don't let your team mates and opponents down, be on time! You can arrive anywhere between 17:30h and 18:00h.</p>
                <ul class="list-inline intro-social-buttons">
                    <li>
                        <a href="@Url.Action("Information", "Home")" class="btn btn-default btn-lg"><i class="fa fa-info fa-fw"></i> <span class="network-name">More information</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Content/Images/index1.jpg" alt="">
            </div>
        </div>

    </div>
</div>

<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Sponsored by</h2>
                <div>
                    <img src="~/Content/Images/redbull.png" style="max-width: 300px"/><br/><br/>
                    <img src="~/Content/Images/gm.png" style="max-width: 300px" /><br /><br />
                    Interested in a sponsor agreement? <a href="@Url.Action("Contact", "Home")">Contact us!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

