<div class="about-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message-small">
                    <h1>General information</h1>
                    <hr class="intro-divider">
                    <h4>Something unclear?</h4>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="@Url.Action("Contact", "Home")" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Contact us</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">General</h2>
                <p style="text-align:justify" class="lead">
                    The CognAC League of Legends tournament will be held on the 26th of February, 2015 from 18:00h (UTC+01) until 04:00h (UTC+01). The tournament will be held in the Huygens building at Heyendaalseweg 135, Nijmegen. You can register your team until February 13th. The tournament is open for all students of the Radboud University Nijmegen.
                    Make sure you arrive on time and have had dinner. You will not be able to have dinner during the tournament, since the match schedule is tight. The bike racks in the basement of the building are open all night, so please use them. You are not allowed to put your bike in front of the entrance. Please note that only the main entrance of the building is open during the event.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Eligibility</h2>
                <p style="text-align:justify" class="lead">
                    In principle, only students of the Radboud University are allowed to participate. However, there is a toleration policy.
                    <ul>
                        <li>The tournament has a hard limit of 32 teams</li>
                        <li>Teams consisting of only CognAC members, CognAC benefactors and/or Dorans members have Priority 1.
                        A maximum of 16 teams can be assigned Priority 1, first come first serve.</li>

                        <li>Teams consisting of only RU students have Priority 2.
                        Registration is again accepted on a first come first serve basis.
                        There is a minimum of 16 teams that are assigned this priority level.</li>

                        <li>Teams with less than 5 RU students have Priority 3.
                        These registrations are not automatically accepted and are placed on a waiting list.
                        One week before the tournament, free places will be filled with teams from Priority 3.
                        This will be done as follows: first, teams with at least 4 RU students are placed (again, the earlier you register, the higher the chance of being placed).
                        Then, teams with at least 3 RU students are placed, et cetera.
                        From previous years we know that with 4 RU students you have a high chance of being able to participate, but we cannot guarantee this.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Prizes</h2>
                <h4>Winner</h4>
                <ul>
                    <li>The one and only CognAC League of Legends Tournament Trophy!</li>
                    <li>5000 RP per player</li>
                    <li>Tournament exclusive <a href="http://www.lolking.net/models/?champion=13&skin=4">Triumphant Ryze</a> skin for each player</li>
                    <li>10-Win IP Boost</li>
                    <li>One game of LaserQuest and one game of LaserSquash for the whole team</li>
                    <li>GameMania goodie bags</li>
                </ul>
                <h4>Second place</h4>
                <ul>
                    <li>4000 RP per player</li>
                    <li>10-Win IP Boost</li>
                    <li>Azerty goodie bags</li>
                </ul>
                <h4>Third place</h4>
                <ul>
                    <li>2500 RP per player</li>
                    <li>10-Win IP Boost</li>
                </ul>
                <h4>Fourth place</h4>
                <ul>
                    <li>1500 RP per player</li>
                    <li>10-Win IP Boost</li>
                </ul>
                <h4>Fifth, Sixth, Seventh and Eight place</h4>
                10-Win IP Boost

                <h4>Most enthousiastic team</h4>
                Does your team have the X-factor? Have you got flair? Who knows, maybe you'll win a prize ;)
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Costs</h2>
                <p class="lead">
                    The entrance fee is &euro; 5,00 per RU student and &euro; 6,50 for a non-RU student. You have to pay as a team in cash at the entrance of the event.
                    The cost of drinks and food can be found in the table below. Note that to buy drinks and food you should not forget to bring cash money.
                </p>
                <div>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width:50%">Product</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Coca-cola, Fanta, Lipton IceTea (sparkling/still), Fanta Cassis</td>
                                <td>&euro; 0.50 per cup (~20cl)</td>
                            </tr>

                            <tr>
                                <td>Slammers Energy Drink</td>
                                <td>&euro; 0.50 per can (25cl)</td>
                            </tr>

                            <tr>
                                <td>Orange/apple juice</td>
                                <td>&euro; 0.50 per cup (~20cl)</td>
                            </tr>

                            <tr>
                                <td>Beer (A-brand like Hertog Jan, Jupiler, etc. depending on availability and price)</td>
                                <td>&euro; 0.50 per bottle (33cl)</td>
                            </tr>

                            <tr>
                                <td>Lays Superchips (paprika or salted)</td>
                                <td>&euro; 1.00 per bag (200g)</td>
                            </tr>

                            <tr>
                                <td>Broodje knak</td>
                                <td>&euro; 1.00 a piece, free sauce</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">What to bring</h2>
                <ul>
                    <li>Your PC or laptop (the latter is preferred due to space and power requirements)</li>
                    <li>Mouse</li>
                    <li>Headset</li>
                    <li>A LAN cable longer than 5 meters (if you don't have one that's okay, we have enough)</li>
                    <li>Power extension cord (only if you need more than one socket for your pc)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">What not to bring</h2>
                <p class="lead">
                    You are forbidden from bringing speakers, since they are distracting to other players.
                    You are also forbidden from using your own network switches, routers or hubs, since these devices can cause network connectivity issues when not properly configured.
                    Furthermore we discourage you to bring your own drinks and food, as they are sold for a cheap price at the bar.
                    The maximum size of a monitor is 24 inch. If you have a laptop, please don't bring a monitor.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Connectivity</h2>
                <ul>
                    <li>Turn off your Wi-Fi (you can use Wi-Fi only if you do not have an ethernet port)</li>
                    <li>If you've set a static IP previously, change your settings back to DHCP, our network does not support static IP addresses</li>
                    <li>Disable the IPHelper service if PvP.net keeps disconnecting</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">In-game rules</h2>
                <p class="lead">There are several in-game rules you implicitly accept when participating in the tournament:</p>
                <ul>
                    <li>
                        Teams that are eliminated during the tournament
                        may play matches against other eliminated teams as
                        they wish. However, these games will not count towards the leaderboard and are not under supervision
                        of the organization.
                    </li>
                    <li>
                        Only teams with at least 3 students of the Radboud University Nijmegen may participate.
                    </li>
                    <li>
                        A participant can only be in one team. We encourage
                        teams to make sure the skill level of their members
                        is somewhat equal.
                    </li>
                    <li>
                        Applications can be entered online through the website. All applications will be accepted as long as the team's members are all eligible for application. There is a maximum of 32
                        teams that can enter the tournament. Teams applying when the tournament is full will be placed on the waiting list.
                    </li>
                    <li>
                        Teams that are placed on the waiting list will receive an email with an invitation if a place has come
                        available. This is done on a first come first serve basis.
                    </li>
                    <li>
                        Participants are not allowed to apply for the tournament using a smurf account.
                    </li>
                    <li>
                        All matches will be played on Summoner's Rift in
                        Tournament Draft mode.
                    </li>
                    <li>
                        Pausing is only allowed when absolutely necessary.
                        Pausing the game while not necessary counts as unfair play.
                    </li>
                    <li>
                        When the game has ended, both team's captains need
                        to leave the scoreboard open until the match results appear on the <a href="@Url.Action("Schedule", "Timetable")">Schedule</a> page.
                        If the match has not appeared after 5 minutes, find a member of the organization. He or she can enter the scores manually.
                    </li>
                    <li>
                        The following actions are considered unfair play. If any participant performs any of the following actions, he will receive a penalty as decided by the organizers.
                        <ul>
                            <li>
                                The use of any cheat program;
                            </li>
                            <li>
                                An intentional disconnection without reason;
                            </li>
                            <li>
                                The use of any settings exceeding the standard
                                and permitted settings;
                            </li>
                            <li>
                                Intentionally allowing an opponent to win or
                                colluding with another team to decide a match
                                outcome or split prize money;
                            </li>
                            <li>
                                Unsportsmanlike conduct or disruptive behaviour such as inappropriate and/or unprofessional actions directed towards another player or a member of the organization;
                            </li>
                            <li>
                                The use of a game bug;
                            </li>
                            <li>
                                Pausing the game while not strictly necessary.
                            </li>
                        </ul>
                    </li>
                    <li>
                        A first offense can be penalized by a warning or a game forfeiture (meaning you lose the match). The organization may choose the penalty depending on the severity of the offense.
                        A second offense will result in tournament disqualification. Note that offenses by different members of the same team add up and are not counted as two separate first offenses.
                    </li>
                    <li>
                        CognAC and the members of the organisation are not responsible for any damage to property or health. By participating in the tournament you accept these rules implicitly.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
