@model LoLTournament.Models.PhotosViewModel

<div class="about-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message-small">
                    <br/>
                    <h1>Photos 2016</h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>
                
                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4>You can find more photos on our <a href="https://www.facebook.com/1608296852764327/photos/?tab=albums">Facebook page</a>.</h4>
                <br/><br/>
                <div id="links">
                    @foreach (var f in Model.Photos)
                    {
                        <a href="@f.Path" title="@f.Name" data-gallery style="margin-bottom: 10px;">
                            <img src="@f.ThumbnailPath" alt="@f.Name">
                        </a>
                    }
                </div>

                <script src="~/Scripts/jquery.blueimp-gallery.min.js"></script>
                <script src="~/Scripts/bootstrap-image-gallery.min.js"></script>
            </div>
        </div>
    </div>
</div>