@model LoLTournament.Models.RegisterViewModel

<div class="register-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message-small">
                    <br />
                    <h1>Registration</h1>
                    <hr class="intro-divider">
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>


                @if (DateTime.Now < Model.RegistrationStartDate && DateTime.Now >= Model.RegistrationStartDateEarlyBird && Model.TeamCount >= 12)
                {
                    <div class="alert alert-danger" role="alert">
                        All CognAC and Dorans exclusive spots have been taken. More spots open will open up for everyone soon.
                    </div>
                }
                else if (DateTime.Now < Model.RegistrationCloseDate && DateTime.Now >= Model.RegistrationStartDate && Model.TeamCount >= 32)
                {
                    <div class="alert alert-danger" role="alert">
                        The tournament is full.
                    </div>
                }
                else if (DateTime.Now < Model.RegistrationCloseDate && DateTime.Now >= Model.RegistrationStartDateEarlyBird)
                {
                    <p class="lead">
                        Fill in the form below to register your team for the CognAC League of Legends Tournament 2016.
                        Note that your registration is permanent and cannot be canceled.
                        Also note that <strong>you need to register on the official League of Legends website as well.</strong> You can do this <a href="http://events.euw.leagueoflegends.com/events/167648">here</a>. Please make sure to mention your team name.
                    </p>
                    <p>
                        Don't have a team yet? Use the <a href="@Url.Action("Teambuilder", "Register")">team builder</a>!
                    </p>

                    if (DateTime.Now < Model.RegistrationStartDate)
                    {
                        <br />
                        <div class="alert alert-danger" role="alert">
                            Tournament registration is currently only open to CognAC and Dorans members. The registration opens up to everyone soon.
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        The tournament registration is closed but will open up soon.
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (DateTime.Now < Model.RegistrationStartDate && DateTime.Now >= Model.RegistrationStartDateEarlyBird && Model.TeamCount < 12 ||
     DateTime.Now < Model.RegistrationCloseDate && DateTime.Now >= Model.RegistrationStartDate && Model.TeamCount < 32)
{
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-12">
                    <div class="clearfix"></div>

                    <div id="ParentDiv">
                        @{ Html.RenderPartial("Form"); }
                    </div>

                </div>
            </div>
        </div>
    </div>
}
