@model LoLTournament.Models.RegisterViewModel
           
<h2>Registration successful</h2>

<div class="bg-success">
    <div style="padding:15px;">
        You have successfully registered <strong>@Model.TeamName</strong> for the CognAC League of Legends Tournament 2016!
        Please note that canceling your registration is not possible under normal circumstances.
        Remember to register for the tournament through the official League of Legends website as well. You can do this <a href="#">here</a>.
    </div>
</div>
