@model LoLTournament.Models.RegisterViewModel
           
<h2>Registration almost complete!</h2>

<p class="lead">
    <div class="alert alert-warning" role="alert" style="font-size: 18px;">
        <a href="@Model.PaymentUrl">
            Please click here to complete your payment of &euro; @Model.Price using the selected payment method
        </a>
        <br/><br/>
        <img src="https://upload.wikimedia.org/wikipedia/en/e/e9/IDEAL_Logo.png" height="32"/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Bitcoin_logo.svg/2000px-Bitcoin_logo.svg.png" height="32" />
    </div>
</p>