@model LoLTournament.Models.RegisterViewModel
           
<h2>Registration successful</h2>

<div class="bg-success">
    <div style="padding:15px;">
        You have successfully registered <strong>@Model.TeamName</strong> for the CognAC League of Legends Tournament 2015!
        Please note that canceling your registration is possible until the 13th of February.
    </div>
</div>
