@model LoLTournament.Models.TeambuilderViewModel

<h2>Queueing successful</h2>

<div class="bg-success">
    <div style="padding:15px;">
        You have successfully enqueued <strong>@Model.Name</strong> for the team builder. Note that your registration is <strong>not</strong> final. You will receive an email when we have found suitable team mates. Then, you need to register your team using the regular team registration form.
    </div>
</div>
