@model LoLTournament.Models.TeambuilderViewModel

<h2>Registration</h2>
@if (DateTime.Now < new DateTime(2015, 2, 20))
{
    <p>
        Fill in the form below to enqueue yourself in the Team Builder system.
        This registration is NOT final. Filling in the form below does not automatically mean you can participate during the event.
        You will receive an email when suitable team mates have been found. <strong>You then have to register yourselves as a team using the regular team registration form.</strong>
        We hope to finish building the teams February 13th.
    </p>
    <p>
        Already have a full team? Use the <a href="@Url.Action("Index", "Register")">regular team registration</a>!
    </p>

    <div id="ParentDiv">
        @{ Html.RenderPartial("TeambuilderForm"); }
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        The tournament registration is closed.
    </div>
}
